/* Fonts */
$nf-font-stack: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$nf-font-size-body: 16px;

/* Colors */

$nf-color-white: #ffffff;
$nf-color-black: #000000;
$nf-color-black-01: #0f0e15;
$nf-color-gray: #aaaaaa;
$nf-color-red-01: #ff7b7b;
$nf-color-transparent: rgba(0, 0, 0, 0);

/* Radius */

$nf-radius-round: 50%;
$nf-radius-pill: 100px;
$nf-radius: 8px;
$nf-radius-sm: 4px;

/* Screens */


/* Z indexes */

$nf-z-index-header: 1;
$nf-z-index-modal: 10;

/* Shadows */
$nf-shadow-sm: 0px 0px 5px rgba(0, 0, 0, 0.3);
$nf-shadow-md: 0px 0px 20px rgba(0, 0, 0, 0.1);

/* Transitions */

$nf-transition: all 0.3s ease;

/* CSS Variables */

//:root {
//
//}
